/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31/03/2019, 10:10:14 PM
    Author     : yisus
*/

*{
    padding: 0px;
    margin: 0px;
}

html{
    width: 100%;
    height: 100%;
}

#editar{
    width: 40%;
    display: inline-grid;
    padding-left: 30%;
    padding-top: 5%;
}
 body {
	font-family: Helvetica, Arial, sans-serif;

	color: #666;
	/*background: #f2f2f2;*/

        /*background-color: whitesmoke;*/
	font-size: 1em;
	
         width: 100%;
        height: 100%;
}
h1 {
	font-size: 2.3em;
	font-family: colibri;
	text-align: center;
	font-weight: 300;
}

h2{
    font-size: 2.3em;
    text-align: center;
    font-weight: 300;
    color: black;
    font-family: colibri;
    background-color: #6495ed8c;
}

/* Mensaje de información */
h3{
background: whitesmoke;
background-position: 55px 25%;
color: black;
font-family: colibri;
font-size: 25px;
text-align: center;
padding: 18px 50px 55px 15px;
border-top: 5px double black;
border-bottom: 5px double black;
border-radius: 35px 0px 35px 0px;
-moz-border-radius: 35px 0px 35px 0px;
-webkit-border-radius: 35px 0px 35px 0px;
}

 
p {
	margin: 0 0 1.5em 0;
}
 
img {
	width: 80%;
	height: 80%;
        
}

.AgregaTema{
    text-align: right;
}

img.img_logo{
    
	width: 10%;
	height: 10%;
        
}
#main-header {
	background: #333;
	color: white;
	height: 12%;
        top: 0;
}	
#main-header a {
  color: white;
  top : 0%;
	}
 
/*
 * Logo
 */
#logo-header {
	float: left;
	padding: 15px 0 0 20px;
	text-decoration: none;
}
	#logo-header:hover {
		color: #0b76a6;
	}
	
	#logo-header .site-name {
		display: block;
		font-weight: 700;
		font-size: 1.2em;
	}
	
	#logo-header .site-desc {
		display: block;
		font-weight: 300;
		font-size: 0.8em;
		color: #999;
	}
	
 
/*
 * Navegación
 */
nav {
	float: right;
}

    
nav ul {	
    margin: 0;
    padding: 0;
    list-style: none;
    padding-right: 20px;
	}
	
nav ul li {	
    display: inline-block;
   line-height: 0px;
}
			
nav ul li a {
	display: inline;
	padding: 0 10px;
	text-decoration: none;
	}
			
nav ul li a:hover {
	background: #0b76a6;	
}
	
#main-footer {
	background: #333;
	color: white;
	text-align: center;
	padding: 5%;
        margin-top: 100%;
}
#main-footer p {
	margin: 0;
}
	
#main-footer a {
	color:white;
}
        	
#main-content {
	height: 80px;
	
	width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
	left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 80%; /* Posicionamos la cabecera pegada arriba */
	position: fixed; /* Hacemos que la cabecera tenga una posición fija */
}

#formulario{
  rigth:20%;
  top : 40%
}

#titulo-pag{
	height: 80px;
	width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
        color: aqua;
	left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 30%; /* Posicionamos la cabecera pegada arriba */
	position: fixed; /* Hacemos que la cabecera tenga una posición fija */


}

/*
*AgregarInformadorIH
*/
 #cuerpo-AgregarInformador{
    background-color:chartreuse;
    color:darkgoldenrod;
}


img.img_logo{
    width: 250px;
    height: 50px;
}

#apellido{
    padding-left: 50%;
}


#rojo{
    background: #FF0000;
}
#naranja{
    background: #FF8000;
}
#amarillo{
    background:#FFFF00;
}
#verde{
    background: #40FF00;
}

#azul{
     background: #0000FF;
}
#anil{
    background: #8000FF;
}
#violeta{
    background:#FF00BF ;
}

.texto{
    width: 100%;
}

#mapa{
    position: absolute;
    width: 80%;
    height: 50%;
    margin-top: 20%;
    margin-left: 50px;
}

#mapa1{
    position: absolute;
    width: 90%;
    height: 50%;
    margin-top: 35%;
    margin-left: 50px;
}

#formulario-reg{
    padding-left:37%;
    padding-top: 3%;
    border-radius: 10px;
    padding-left: 40%;
}

#login{
    width: 30%;
    display: inline-grid;
    padding-left: 35%;
    padding-top: 5%;
}

.logo {
        width: 5%
    }
     
    .detail {
        width: 95%;
        padding-left: 25px;
    }
     
    .detail td {
        font-size: 24px;
    }
     
    .ui-datascroller .ui-datascroller-item {
        border-bottom: 1px solid #A8A8A8;
        padding: 25px 10px;
        /* with the exported variables from Nova and Luna Themes*/

        /*border-bottom-color: var(--input-border-color, #A8A8A8)*/
    }
#form{
    width: 100%;
    height: 100%;
}

#agregaComentario{
    position: relative;
    margin-right: 60%;
    margin-top: 6%;
    float:right;
}

#comentarios{
    position: relative;
    margin-top: -20%;
    margin-right: 5%;
    float: right;
    height: 100%;
    width: 50%;
}

/*main{
    width: 100%;
    height: 90%;
    /*margin: 5px auto;
    overflow:  hidden;
    /*border-radius: 50%;
    /*transition: border-radius 2s;
    background: -moz-linear-gradient(top,#00FFFF , #e2eef1  );
    background: -webkit-linear-gradient(top,#00FFFF , #e2eef1 );
    background: linear-gradient(top,#00FFFF , #e2eef1  );
    
}*/

    
form#comboBox-index {
    margin-left: 67%;
    margin-top: 9%;
}
/*Id para formulario correspondiente a la ventana agregaTema.xhtml en la subseccion elimina tema*/
form#formEliminaTema {
    margin-top: 50%;
}

/*Etiqueta para color del fondo del menu*/
.ui-dock-container-bottom.ui-widget-header {
    background-color: aqua;
}
/*Etiqueta para letras del menú*/
.ui-widget-header a {
    color:#333;
}
/*Estilo para los paneles*/
.ui-panel {
    padding: 0.2em;
    background-color: transparent;
    border-color: transparent;
}
/*Color de las letras del titulo para paneles*/
.ui-panel .ui-panel-titlebar {
    padding: .5em 1em .3em;
    background-color: #6495edd9;
}

/*Estilos para mensajes de error*/
.ui-messages-error, .ui-message-error {
    color: white;
    background-color: #da0000c9;
    border-color: #eed3d7;
}
/*Estilos para mesajes de informacion*/
.ui-messages-info, .ui-message-info {
    color: darkblue;
    background-color: #00fdf0a6;
    border-color: #bce8f1;
}

/*Estilo para boton de Registrarse en regresarte-xhtml*/

#registroBoton {
    background-color: #a6dfff;
    color: black;
    padding-left: 29%;
    padding-right: 28%;
}

/*Ocultando mensajes molestos*/
.ui-messages-warn, .ui-message-warn {
    position: absolute;
    visibility: hidden;
    color: #c09853;
    background-color: #fcf8e3;
    border-color: #fbeed5;
}
/*Cambiando letras del titulo del panel*/
.ui-panel .ui-panel-title {
    margin: .1em 16px .2em 0;
    color: black;
}

/*Estilos del boton de ls paneles */
.ui-button-text-only .ui-button-text {
    padding: .3em 1em;
    color: black;
}

.apply {
    font-size: 16px;
    background: ghostwhite;
    color: white;
    border-bottom-color:  #333;
    font-family: calibri;
    }
     